# Base requirements
transformers[tf,torch,sentencepiece,vision,optuna,sklearn,onnxruntime]==4.11.3
datasets[audio]==1.16.1
matplotlib
ipywidgets
#Classification
umap-learn==0.5.1
# Summarization
nltk==3.6.6
sacrebleu==1.5.1
rouge-score==0.0.4
py7zr # Needed for samsum dataset
